@import "tailwindcss";

:root {
  --black-primary: #0f0e11;
  --black-secondary: #141414;

  --green: #55b02e;
  --green-dark: #161716;

  --red: #e93030;

  --gray: #71717a;
  --gray-light: #b8b8b8;
  --gray-dark: #1f1f21;

  --white: #ffffff;

  --image-radius: 1rem 0 0 1rem;
}

html{
  font-size: 62.5%;
}

body {
  background: var(--black-primary);
  color: var(--white);
  font-size: 1.6rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
